.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand= link_to 'American Conservation Experience', '/'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Log out", destroy_user_session_path(method: :delete)
        - else
          %li= link_to "Log in", new_user_session_path

.container
  .row
    .col-sm-12
      .alert.alert-danger You have hours that need to be inputed

  .row
    .col-md-12
      .page-header
        %h2 Dashboard

  .row
    .col-md-12
      %h3 Example project
      %br 
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %strong January 1, 2016 - January 7, 2016 &nbsp;&nbsp;
          .label.label-default 
        .panel-body
          %table.table
            %thead
              - ['Log type', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Total', ''].each do |day|
                %th= day
            %tbody
              %tr
                %td{style: 'width:20%;'} Lunch

                = render partial: 'hours_logs/field_cols'
                %td

              = render partial: 'hours_logs/row'
                      
              %tr
                %td
                - (0..6).each do
                  %td
                    %strong #{Random.new.rand(8)} hours
                %td
                %td.text-right{colspan: 9}
                  .btn.btn-sm.btn-default Add row

          .col-md-12
            %button.btn.btn-primary{ type: "submit" } Submit hours

    .col-md-12
      .panel.panel-default
        .panel-heading
          %strong Dec 24, 2015 - Dec 31, 2015
          .label.label-success Submitted
        .panel-body
          %table.table.table-condensed
            %thead
              - ['Log type', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Total', ''].each do |day|
                %th= day
            %tbody
              %tr
                %td{style: 'width:20%;'} Service

                - (1..7).each do
                  %td
                    #{Random.new.rand(8)} hours
                      
                %td
                  %strong #{Random.new.rand(40)} hours

              %tr
                %td{style: 'width:20%;'} Break

                - (1..7).each do
                  %td
                    #{Random.new.rand(8)} hours
                      
                %td
                  %strong #{Random.new.rand(40)} hours

              %tr
                %td{style: 'width:20%;'} Lunch
                = render partial: 'hours_logs/field_cols'

              %tr
                %td{style: 'width:20%;'} Training

                - ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].each do |day|
                  %td
                    #{Random.new.rand(8)} hours
                %td
                  %strong #{Random.new.rand(40)} hours
                      

              %tr
                %td
                  %strong Total
                - (0..6).each do
                  %td
                    %strong #{Random.new.rand(8)} hours
                %td
