- if current_user.submissions.approved.any?
  - current_user.submissions.approved.each do |submission|
    .row.margin-top
      .col-md-12
        .panel{ class: (Date.today  > submission.period.end_date ? 'panel-warning' : 'panel-default') }
          .panel-heading
            %strong #{submission.period.period_start.strftime("%B %d, %Y")} - #{(submission.period.period_start + 6.days).strftime("%B %d, %Y")}
            .label.label-default 
          = form_tag hours_logs_path, id: 'submission_period' do
            = hidden_field_tag "project_id", submission.project_id
            .panel-body
              %table.table
                = render partial: 'period_table_header', locals: { period: submission.period }

                %tbody
                  - submission.hours_logs_by_log_type.each_pair do |log_type, hours_logs|
                    %tr
                      %td{style: 'width:20%;'}= log_type

                      - hours_logs.each do |log|
                        %td= log.hours

                      %td
                        %strong= hours_logs.inject(0){|sum, l| sum + l.hours} 
                          
                  %tr
                    %td
                    - (0..6).each do
                      %td
                        %strong 0 hours

- else
  .margin-top
    %p You currently don't have any approved submissions