- current_user.submissions.unapproved.each do |submission|
  .row
    .col-md-12
      .panel{ class: (Date.today  > submission.period.end_date ? 'panel-warning' : 'panel-default') }
        .panel-heading
          %strong #{submission.period.period_start.strftime("%B %d, %Y")} - #{(submission.period.period_start + 6.days).strftime("%B %d, %Y")}
          .label.label-default 
        = form_tag hours_logs_path, id: 'submission_period' do
          = hidden_field_tag "project_id", submission.project_id
          .panel-body
            %table.table
              %thead
                - ['Log type', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Total', ''].each do |day|
                  %th= day

              %tbody
                = render partial: 'hours_logs/row', locals: { week_start: submission.period.period_start, hours_type: 'lunch' }
                        
                %tr
                  %td
                  - (0..6).each do
                    %td
                      %strong 0 hours
                  %td
                  %td.text-right{colspan: 9}
                    = link_to "Add row", create_row_hours_logs_path(week_start: submission.period.period_start), class: 'btn btn-sm btn-default addrowbutton', remote: true, method: :post

            .col-md-12
              = submit_tag 'Submit hours', class: 'btn btn-primary'