- current_user.project_members.each do |project_member|
  .row
    .col-md-12
      %h3= project_member.project.title || "Untitled project"
      %h4= project_member.title
      %br 
  - project_member.submission_periods_for_user(current_user).each do |period|
    - unless period.submitted_for?(current_user, project_member.project_id)
      .row
        .col-md-12
          .panel{ class: (Date.today  > period.end_date ? 'panel-warning' : 'panel-default') }
            .panel-heading
              %strong #{period.period_start.strftime("%B %d, %Y")} - #{(period.period_start + 6.days).strftime("%B %d, %Y")}
              .label.label-default 
            = form_tag hours_logs_path, id: 'submission_period' do
              = hidden_field_tag "project_id", project_member.project_id
              .panel-body
                %table.table
                  = render partial: 'period_table_header', locals: { period: period }

                  %tbody
                    = render partial: 'hours_logs/row', locals: { week_start: period.period_start, hours_type: 'lunch' }
                            
                    %tr
                      %td
                      - (0..6).each do
                        %td
                          %strong 0 hours
                      %td
                      %td.text-right
                        = link_to "Add row", create_row_hours_logs_path(week_start: period.period_start), class: 'btn btn-sm btn-default addrowbutton', remote: true, method: :post

                .col-md-12
                  = submit_tag 'Submit hours', class: 'btn btn-primary'

:javascript
  $(document).ready(function(){
    $('.addrowbutton').click(function(){
      $(this).addClass('clicked');
    });

    $('#submission_period').on('click', '.remove-row-button', function(){
      $(this).closest('tr').remove();
    });
  });
