- current_user.project_members.each do |project_member|
  .row
    .col-md-12
      %h3= project_member.project.title || "Untitled project"
      %h4= project_member.title
      %br 
  - project_member.submission_periods_for_user(current_user).each do |period|
    - unless period.submitted_for?(current_user, project_member.project_id)
      .row
        .col-md-12
          .panel{ class: (Date.today  > period.end_date ? 'panel-warning' : 'panel-default') }
            .panel-heading
              %strong #{period.start_date.strftime("%B %d, %Y")} - #{(period.start_date + 6.days).strftime("%B %d, %Y")}
              .label.label-default 
            = form_tag hours_logs_path, class: 'submission_period' do
              = hidden_field_tag "project_id", project_member.project_id
              .panel-body
                %table.table
                  = render partial: 'period_table_header', locals: { period: period }

                  %tbody
                    = render partial: 'hours_logs/row', locals: { week_start: period.start_date, hours_type: 'service' }
                    = render partial: 'hours_logs/row', locals: { week_start: period.start_date, hours_type: 'lunch' }
                            
                    %tr.daytotals
                      %td
                      - (0..6).each do
                        %td
                          %strong <span>0.5</span> hours
                      %td
                      %td.text-right
                        = link_to "Add row", create_row_hours_logs_path(week_start: period.start_date), class: 'btn btn-sm btn-default addrowbutton', remote: true, method: :post
                .row                        
                  .col-md-4.margin-bottom
                    %label Notable accomplishments (last 2 weeks)
                    = text_area_tag 'submission[accomplishments]', nil, class: 'form-control', placeholder: "Over the last two weeks, I was able to..."

                  .col-md-4.margin-bottom
                    %label Goals (next two weeks)
                    = text_area_tag 'submission[goals]', nil, class: 'form-control', placeholder: "Over the next two weeks, my goals are to..."

                  .col-md-4.margin-bottom
                    %label Did you encounter any challenges? How did you solve them?
                    = text_area_tag 'submission[challenges]', nil, class: 'form-control', placeholder: "Some challenges I had were..."

                .row
                  .col-md-12
                    = submit_tag 'Submit hours', class: 'btn btn-primary'

:javascript
  function runTotals(){

  }

  function totalColumn(table, siblingIndex){
    var columnHours = 0;
    $(table).find('tbody').find('tr').each(function(i, el){
      var hours = $(el).find('td').eq(siblingIndex).find('input').val();
      if(!!hours){
        columnHours += parseFloat(hours);
      }
    });
    $('.daytotals span').eq(siblingIndex - 1).html(columnHours);
  }

  function totalRow(table, index){
    var rowHours = 0;
    var siblingIndex = $(table).find('tr').eq(index + 1).find('td').each(function(i, sibling){
      var hours = $(sibling).find('input').val();
      if(!!hours){
        rowHours += parseFloat(hours);
      }
      $(this).closest('tr').find('.rowtotal').find('span').html(rowHours);
    });
  }

  $(document).ready(function(){
    $('.addrowbutton').click(function(){
      $(this).addClass('clicked');
    });

    $('.submission_period').on('click', '.remove-row-button', function(){
      $(this).closest('tr').remove();
    });

    // Hours updating
    $('.submission_period').on('change', '.hoursinput', function(e){
      // Tally column
      var siblingIndex = $(this).closest('td').index();
      var table = $(this).closest('table');
      totalColumn(table, siblingIndex);
      
      //Tally row
      var table = $(this).closest('table');
      var rowIndex = $(this).closest('tr').index();
      totalRow(table, rowIndex);
    });
  });
