- current_user.project_members.each do |project_member|
  .row
    .col-md-12
      %h3= project_member.project.title || "Untitled project"
      %h4= project_member.title
      %br 
  - project_member.submission_periods_for_user(current_user).each do |period|
    - unless period.submitted_for?(current_user, project_member.project_id)
      .row
        .col-md-12
          .panel{ class: (Date.today  > period.end_date ? 'panel-warning' : 'panel-default') }
            .panel-heading
              %strong #{period.start_date.strftime("%B %d, %Y")} - #{(period.start_date + 6.days).strftime("%B %d, %Y")}
              .label.label-default 
            = form_tag hours_logs_path, class: 'submission_period' do
              = hidden_field_tag "project_id", project_member.project_id
              .panel-body
                %table.table
                  = render partial: 'period_table_header', locals: { period: period }

                  %tbody
                    = render partial: 'hours_logs/row', locals: { week_start: period.start_date, hours_type: 'service' }
                    = render partial: 'hours_logs/row', locals: { week_start: period.start_date, hours_type: 'lunch' }
                            
                    %tr.daytotals
                      %td
                      - (0..6).each do
                        %td
                          %strong <span>0.5</span> hours
                      %td
                      %td.text-right
                        = link_to "Add row", create_row_hours_logs_path(week_start: period.start_date), class: 'btn btn-sm btn-default addrowbutton', remote: true, method: :post

                .col-md-12
                  = submit_tag 'Submit hours', class: 'btn btn-primary'

:javascript
  $(document).ready(function(){
    $('.addrowbutton').click(function(){
      $(this).addClass('clicked');
    });

    $('.submission_period').on('click', '.remove-row-button', function(){
      $(this).closest('tr').remove();
    });

    // Hours updating
    $('.submission_period').on('change', '.hoursinput', function(e){
      // Tally column
      var siblingIndex = $(this).closest('td').index();
      var columnHours = 0;
      $(this).closest('table tbody').find('tr').each(function(i, el){
        var hours = $(el).find('td').eq(siblingIndex).find('input').val();
        if(!!hours){
          columnHours += parseFloat(hours);
        }
      });

      $('.daytotals span').eq(siblingIndex - 1).html(columnHours);
      
      //Tally row
    });
  });
