= render 'nav'

.container
  .row
    .col-sm-12
      - if flash[:danger].present?
        .alert.alert-danger= flash[:danger]
      - if flash[:notice].present?
        .alert.alert-info= flash[:notice]

  .row
    .col-md-12
      .page-header
        %h2 Dashboard
      %ul.nav.nav-tabs
        %li{role: 'presentation', class: (params[:f].blank? || params[:f] == 'unsubmitted' ? 'active' : '')}
          = link_to "Not submitted", "?f=unsubmitted"
        %li{role: 'presentation', class: (params[:f] == 'unapproved' ? 'active' : '')}
          = link_to "Awaiting approval", "?f=unapproved"
        %li{role: 'presentation', class: (params[:f] == 'approved' ? 'active' : '')}
          = link_to "Approved", "?f=approved"

  = render partial: @submission_content_partial